
<main class="contenedor contenedor-formularios no-padding">
    <h1><%= pageName %></h1>

    <form class="default-form" method="POST">
        <div class="campo">
            <label>Name</label>
            <input type="text" value="<%- group.name %>" name="name" placeholder="Group name">
        </div>

        <div class="campo descripcion">
            <label>Description</label>
            <div class="contenedor-editor">
                <input type="hidden" id="x" name="description" value="<%= group.description %>">
                <trix-editor input="x"></trix-editor>
            </div>
        </div>

        <div class="campo">
            <label>Category</label>
            <select name="categoryId">
                <option value="" selected disabled>-- Select a Category --</option>
                <% categories.forEach( category => { %>
                    <option
                        value="<%= category.id %>"
                        <%= (group.categoryId === category.id) ? 'selected' : '' %>
                    >
                        <%= category.name %>
                    </option>
                <% }); %>
            </select>
        </div>

        <div class="campo">
            <label>Website</label>
            <input type="url" name="url" placeholder="Your website" value="<%- group.url %>">
        </div>

        <div class="campo enviar">
            <input type="submit" value="Save Changes" class="btn btn-rosa">
        </div>
    </form>
</main>