
<div class="contenedor">
    <h1><%- pageName %></h1>

    <div class="informacion-grupo">
        <% if(group.image) { %>
            <img src="/uploads/groups/<%= group.image %>">
        <% } else { %>
            <img src="/img/meeti.jpg">
        <% } %>
    </div>

    <div class="texto">
        <%- group.description %>

        <% if(group.url) { %>
            <a target="_blank" class="url" href="<%- group.url %>">Visit our website</a>
        <% } %>

        <% if(meetis.length > 0) { %>
            <h2>Next Meetis</h2>
            <ul class="lista-meetis">
                <% meetis.forEach(meeti => { %>
                    <li>
                        <div class="texto">
                            <a href="/meeti/<%= meeti.slug %>">
                                <h3 style="text-align: center;"><%- meeti.title %></h3>

                                <p class="fecha"><%= formatDate(meeti.date, meeti.time); %></p>
                            </a>
                        </div>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </div>
</div>